<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet">
    <style>
        .md-form input.form-control[type="datetime-local"]~label {
            transform: translateY(-140%);
            font-size: .8rem;
        }
    </style>
</head>

<body class="grey lighten-3">



    <!--Main layout-->
    <main class=" pt-4">
        <div class="container wow fadeIn">

            <!-- Heading -->
            <h2 class="my-5 h2 text-center">Add Event</h2>

            <!--Grid row-->
            <div class="row d-flex justify-content-center">

                <!--Grid column-->
                <div class="col-md-8  mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <form class="card-body">
                            <!--Username-->
                            <div class="md-form input-group pl-0 mb-5">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Title</span>
                                </div>
                                <input type="text" class="form-control py-0" placeholder="Title for the event"
                                    id="title" name="title" aria-describedby="basic-addon1">
                            </div>

                            <!--Date-->
                            <div class="md-form ">
                                <input type="datetime-local" id=" inputMDEx" class="form-control">
                                <label for="inputMDEx">Choose your date</label>
                            </div>



                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6 mb-2">

                                    <!--firstName-->
                                    <div class="md-form ">
                                        <input type="text" id="from" class="form-control">
                                        <label for="from" class="">From</label>
                                    </div>

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6 mb-2">

                                    <!--lastName-->
                                    <div class="md-form">
                                        <input type="text" id="to" class="form-control">
                                        <label for="to" class="">To</label>
                                    </div>

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->





                            <!--address-->
                            <div class="md-form mb-5">
                                <input type="text" id="venue" class="form-control" placeholder="1234 Main St">
                                <label for="venue" class="">Venue</label>
                            </div>

                            <!--address-2-->
                            <div class="md-form mb-5">
                                <input type="text" id="google map link" class="form-control"
                                    placeholder="https://maps.google.com/maps?q=Kolkata&t=&z=13&ie=UTF8&iwloc=&output=embed">
                                <label for="google-map-link" class="">Google map link </label>
                            </div>

                            <div class="md-form mb-5">
                                <input type="text" id="cover-pic" class="form-control" placeholder="">
                                <label for="cover-pic" class="">Cover picture (1321 * 583)</label>
                            </div>

                            <div class="md-form mb-5">
                                <input type="text" id="main-pic" class="form-control" placeholder="">
                                <label for="main-pic" class="">Main event pic (960 * 820)</label>
                            </div>




                            <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>

                        </form>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->



            </div>
            <!--Grid row-->

        </div>
    </main>
    <!--Main layout-->



    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();

    </script>
</body>

</html>